<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        name="title"
        type="text"
        ngModel
        required
        placeholder="Enter a Title"
        minlength="5"
        #formTitle="ngModel"
      /><mat-error *ngIf="formTitle.invalid">Please enter a title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="content"
        cols="30"
        rows="5"
        #userInput
        ngModel
        required
        placeholder="Speak your mind..."
        minlength="10"
        #formContent="ngModel"
      ></textarea>
      <mat-error *ngIf="formContent.invalid">Please enter text.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
